<div class='login-welcome__title'>
  <%= PrettyText.cook(I18n.t("login_required.welcome_message", title: SiteSetting.title)).html_safe %>

  <p class='login-welcome__description'><%= SiteSetting.site_description %></p>
</div>

<div class='container send_login_mail'>
  <p><%= raw I18n.t "login_helper.mail_sent_to", to: @to %></p>
  <p><%= I18n.t "login_helper.click_link" %></p>
  <p><%= I18n.t "login_helper.search_spam" %></p>
  <p><%= raw I18n.t "login_helper.contact_info", contact: SiteSetting.contact_email %></p>
  <%# TODO: learn a smarter way to generate this URL %>
  <% d = URI.encode_www_form_component @destination_url %>
  <% l = URI.encode_www_form_component @to %>
  <%= form_tag("/login-helper/redirect-to-login?destination_url=#{d}&login=#{l}") do %>
    <%= submit_tag t('login_helper.redirect_to_login_page') , class: 'btn' %>
  <%- end %>
</div>

<% content_for :title do %><%= @title %><% end %>
